.scalars-grid {
  margin: 20px 0 44px 0;

  &-card {
    max-width: 200px;
  }

  .ant-statistic-title {
    word-break: break-word;
    font-size: 12px;
  }

  .ant-statistic-content-value-int {
    word-break: break-word;
  }

  @media screen and (max-width: 768px) {

    .doughnut-chart,
    .bar-chart {
      width: 100%
    }

    .bar-chart {
      height: 300px
    }
  }

  @media screen and (min-width: 768px) {
    .ant-statistic-title {
      font-size: 14px;
    }
  }
}