.kpi-grid {
  padding-bottom: 88px;

  .MuiGrid-item {
    padding: 16px !important;
  }

  .MuiCard-root {
    border-radius: 8px !important
  }

  .MuiCardContent-root {
    padding: 24px !important;
  }
}