.data-table-container {
    width: 100%;
    margin-bottom: 44px;

    .title,
    .subtitle {
        display: flex;
    }

    .title {
        margin-block-end: unset;
    }

    .subtitle {
        margin-bottom: 22px;
    }
}